.display-flex {
    display: flex;
    gap: 10px;
}

.dashboard-content {
    width: 100%;
}
.dashboard-content .header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.dashboard-content .header button {
    padding: 10px 0;
    width: 120px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    background: rgb(13, 161, 0);
    color: white;
    box-shadow: 1px 1px 10px rgb(122, 122, 122);
}

.dashboard-content .header button:hover {
    font-size: 20px;
}

.dashboard-content .content {
    margin: 10px 10px;
}

/* table styles */
.tablesty {
    margin: 10px 0;
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
}
.tablesty thead th,
.tablesty tbody td {
    border: 2px solid;
    padding: 10px 10px;
}
